img{
    width: 35%;
    margin:1.5%;
    float: left;
}
img:hover{
    filter: brightness(50%);
}

button:hover{
    background-color: rgb(55,58,58);
    color: #FFF;
    cursor: pointer;
}
body{
    background-image:url(./imagens/Background.png);
    background-size: cover;
}
.opcoes {
    display: flex;
    margin-right: 30px;
}

.opcoesBotoes {
    width: 100px;
    float: right;
}

.opcoesBotoes:hover {
    cursor: pointer;
}

#cabecalho {
    display: flex;
    justify-content: space-between;
}
#kamilly, p{
    font-family: "Raleway";
    font-size: 23px;
    font-weight: 800;
    margin-left: 1.5%;
    text-transform: uppercase;
    letter-spacing: 14px;
}
#colorido{
    display: none;
}
.selecionado{
    border-bottom: 2px solid rgb(0, 0, 0);
    padding-bottom: 2px;
}
