#titulo{
    font-family: "Raleway";
    font-size: 30px;
    font-weight: 800;
    margin-left: 1.5%;
    text-transform: uppercase;
    letter-spacing: 14px;
    border-bottom: 2px solid #000000;
    padding-bottom: 50px;
}
#pinoquio{
    float: right;
    width: 70px;
}
body{
    background-color: rgb(235, 223, 232);
}
p{
    font-family: "Raleway";
    font-size: 25px;
    font-weight: 700;
    margin-left: 1.5%;
    text-transform: uppercase;
    letter-spacing: 5px;
}
ul{
    font-family: "Raleway";
    font-size: 17px;
    font-weight: 700;
    margin-left: 1.5%;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
}
li{
    list-style: arabic-indic;
    padding-bottom: 20px;
    text-decoration: none;
}
.favoritos{
    width: 400px;
    height: 300px;
    margin: 1.5%;
}
.favoritos:hover{
    filter: brightness(67%);
}
button{
    border: 2px, black;
    color: white;
    padding: 10px 40px;
    font-size: 10px;
    margin: 2px;
    background-color: #008CBA;
}
button:hover{
    filter: brightness(67%);
}
.opcoes{
    display: flex;
    justify-content: space-around;
}
.link{
    text-decoration: none;
    color: #000000;
}
.link:hover{
    text-decoration: underline;
    color:#008CBA ;
}
#herois{
    display:none ;
}
#jogos{
    display: none;
}
.animes{
    background-color: #008CBA;
}
.herois{
    background-color: #597883;
}
.jogos{
    background-color: #782fa8;
}